<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electric Vehicle Website</title>

</head>
<body>


    <!-- Footer section -->
    <footer>
        <hr>
        <div class="ahlem">
        <div class="container">
            <div class="footer-content">
                <p>&copy; 
                    2023 Electric Vehicles Ltd. Tous droits réservés.</p>
                <ul>
                    <li><a href="#">Connect</a></li>
                    <li><a href="#">Terms of Service</a></li>
                     <li><a href="/Contc">Contact Us</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
        <div class="containr">
            <div class="footer-content">
                <ul>
                    <li><a href="creer">Registration</a></li>
                    <li><a href="/tous">Tous Marques</a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100023273988241">Facebook</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="footer-content">
                <ul>
                    <li><a href="conncet">Login</a></li>
                    <li><a href="/sghir">Tous Model</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="footer-content">
                <ul>
                    <li><a href="oublier">Oublier mots de pass</a></li>
                    <li><a href="/kbir">Recherche</a></li>
                    <li><a href="#">YouTube</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>

