body {
  font-family: Arial, sans-serif;

  background-image: url('https://img.freepik.com/photos-premium/arriere-plan-naturel-flou-style-retro-bulles-savon_476363-5341.jpg?w=740');
  margin: 0;
  padding: 0;
 
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  display: block;
  width: 60%;
  padding: 10px;
  background-color: #9E9E9E;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 65px;
}

button:hover {
  background-color: #0056b3;
}
