<h2>VOUS ÊTES INTÉRESSÉ PAR</h2>
<div class="container">
  <div class="containe">
    <input [(ngModel)]="filterByMake" class="filter-input" placeholder="Filter by Make" (input)="applyFilters()">
    <input [(ngModel)]="searchText" class="filter-input" placeholder="Search" (input)="applyFilters()">
  </div>
  
  <p-table [value]="filteredData" [paginator]="true" [rows]="itemsPerPage" [totalRecords]="filteredData.length" (onPage)="onPageChange($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>Vehicle Make</th>
        <th>Vehicle Model</th>
        <th>Image</th>
        <th>Prix</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehicle>
      <tr>
        <td>{{ vehicle.vehicleMake }}</td>
        <td>{{ vehicle.vehicleModel }}</td>
        <td>
          <a [routerLink]="['/kbir']" (click)="redirectToDataTablePag(vehicle.vehicleModel)">
            <img [src]="vehicle.images" alt="Image" width="100">
          </a>
        </td>
        <td>{{ vehicle.Prix }}</td>
        <td>
          <button class="pay-button" >
            <i class="pi pi-credit-card"></i> Payer
          </button>
        </td>
        
      </tr>
    </ng-template>
  </p-table>
</div>
