<!DOCTYPE html>
<html>
<head>
    <title>Page de Contact</title>
    <!-- Inclure la bibliothèque Google Maps JavaScript API -->
    
</head>
<body>
    <div id="map" style="height: 400px;"></div>

   
     <br>
     <hr>
     <video  autoplay>
  <source src="https://v3.cdnpk.net/videvo_files/video/premium/partners0424/large_watermarked/BB_541184e0-4fcb-4e8e-99ef-e79808b4459a_FPpreview.mp4" type="video/mp4">
  Votre navigateur ne supporte pas la lecture de vidéos.
</video> 
<div class="contact-card">
    <h2>Adresse</h2>
    <p>123 Rue de la Liberté<br>
    Ville, Code postal</p>
    <h2>Coordonnées</h2>
    <p>Téléphone : 01 234 567<br>
    Email : contact@example.com<br>
    Facebook : <a href="https://www.facebook.com/votrepage" target="_blank">facebook.com/votrepage</a></p>
</div>

</body>
</html>
