<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Image</title>
</head>
<body>
    <h3>Le Guide Ultime des Véhicules Électriques </h3> <br> <br>
    <!-- Replace the 'src' attribute value with the URL of the image -->
    <img src="https://media.rivian.com/rivian-main/image/upload/f_auto,q_auto/hero_trusii" class="card-img" alt="...">
    
    <br>
    <hr>
    <div class="contain">
        <p> Bienvenue sur "Le Guide Ultime des Véhicules Électriques" ! Nous sommes ravis de vous accueillir dans le monde passionnant de la mobilité électrique. Notre site est conçu pour vous aider à découvrir tout ce que vous devez savoir sur les véhicules électriques modernes, des dernières technologies de pointe aux marques les plus innovantes. Que vous soyez un passionné d'électromobilité ou simplement curieux d'en savoir plus, nous sommes là pour vous guider à chaque étape. Explorez notre vaste sélection de modèles, apprenez-en davantage sur les avantages environnementaux et économiques des véhicules électriques, et trouvez des réponses à toutes vos questions sur cette révolution du transport. Prêt à embarquer pour un avenir plus propre et plus durable ? Alors, plongez dans notre guide et commencez votre voyage vers une conduite électrisante !</p>
      </div>    <hr><div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://c8.alamy.com/compfr/2g16250/logo-de-voiture-2g16250.jpg" class="card-img-toppp" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Notre Model</h5>
                        <p class="card-text"> Plongez dans le futur de la mobilité avec nos modèles électriques dernier cri, conçus pour redéfinir votre expérience de conduite.</p>
                        <a href="/tous" class="btn btn-primary">Model</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2016/12/15/12/24/contact-us-1908762_1280.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> Contacter</h5>
                        <p class="card-text">Besoin de plus d'informations sur nos véhicules électriques ? N'hésitez pas à nous contacter, , notre équipe est là pour vous aider </p>
                        <a href="Contc" class="btn btn-primary"> Contact</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://img.freepik.com/icones-gratuites/questions-conversation_318-56224.jpg" class="card-img-topp" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Autre Question</h5>
                        <p class="card-text">Votre satisfaction est notre priorité. Faites-nous part de vos interrogations et nous ferons de notre mieux pour y répondre rapidemen</p>
                        <a href="#" class="btn btn-primary">Question</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br> <br>
    <hr><hr>
    <video autoplay>
        <source src="https://v4.cdnpk.net/videvo_files/video/free/video0457/large_watermarked/_import_60bc6b8b6d0ab0.68868488_FPpreview.mp4" type="video/mp4" type="video/mp4">
        Votre navigater ne supporte pas la lecture de vidéos.
      </video>
      <br>
      <br>
      
    
      <div class="card bg-dark text-white">
        <img src="https://www.bmwusa.com/content/dam/bmwusa/common/all-electric-page/2022/desktop/BMW-All-Electric-EV-Range-and-Charging-Desktop-v2.jpg" alt="BMW All Electric EV Range and Charging">

        <div class="card-img-overlay">
          <h5 class="card-title">mARQUE</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>    
      <br>
      <hr>
      <hr><div class="container">
          <div class="row">
              <div class="col-md-4 mb-4">
                  <div class="card">
                      <img src="https://c8.alamy.com/compfr/2g16250/logo-de-voiture-2g16250.jpg" class="card-img-toppp" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">inscription</h5>
                          <p class="card-text">Nos utilisateurs enregistrés sont récompensés ! Créez un compte pour débloquer des offres spéciales que vous ne trouverez nulle part ailleurs. L'inscription est simple et rapide.</p>
                          <a href="/tous" class="btn btn-primary">Inscrit </a>
                      </div>
                  </div>
              </div>
  
              <div class="col-md-4 mb-4">
                  <div class="card">
                      <img src="https://cdn.pixabay.com/photo/2016/12/15/12/24/contact-us-1908762_1280.png" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title"> oublier mots de passe </h5>
                          <p class="card-text">Mot de passe oublié ? Pas de souci ! Cliquez sur le lien 'Mot de passe oublié' ci-dessous et suivez les instructions pour réinitialiser votre mot de passe en quelques étapes simples.</p>
                          <a href="/Contc" class="btn btn-primary">Mots de passe </a>
                      </div>
                  </div>
              </div>
  
              <div class="col-md-4 mb-4">
                  <div class="card">
                      <img src="https://img.freepik.com/icones-gratuites/questions-conversation_318-56224.jpg" class="card-img-topp" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">recherche</h5>
                          <p class="card-text"> N'hésitez pas à affiner votre recherche. Trouvez ce qui vous passionne ! 
                             Notre outil de filtrage vous aidera à mettre la main sur ce qui vous intéresse en un clin d'œil.Gagnez votre temps </p>
                          <a href="#" class="btn btn-primary">rechercher</a>
                      </div>
                  </div>
              </div>
          </div>
      </div></body>